/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0px;
    margin: 0px;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.hlavicka {
  display: flex;
  align-items: center;
}

.hlavicka-logo {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 10px;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #25133d;
  padding: 10px;
}

.menu a:hover {
	background-color: white;
  color: #48418e;
  text-transform: uppercase;
  padding: 15px 30px;
}

.menu {
  background-color: white;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 5px;
}

.telo {
  position: relative;
  background: #48418e url('images/pozadi.jpg') no-repeat;
  background-size: cover;
  color: white;
  padding: 60px 425px 60px 40px;
}

.nadpis {
  color: white;
  font-size: 90px;
  font-weight: normal;
  margin: 30px 0 0 0;
}

.slogan {
  color: white;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  margin: 30px 0 100px 0px;
}

.foto {

}

.odkazy {
  font-size: 20px;
  display: flex;
  list-style: none;
}

.odkazy a {
border-radius: 8px;
border: 1px solid #fff;
color: #fff;
text-decoration: none;
padding: 20px 30px;
margin-right: 23px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
font-size: 20px;
line-height: 1;
transition: background-color 250ms;
}

.odkazy a {
  background-color: #48418e;
}

.odkazy a:hover {
  background-color: #25133d;
}

.doplnkove-informace-box {
  display: flex;
  text-align: center;
}

.vyhody {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.osloveni-titul {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
  color: #48418e;
}

div.p {
  text-align: center;
  margin: 0;
}

.zapati {
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 300;
  background-color: #48418e;
  color: #fff;
  text-align: center;
}

/* ----- Ahoj kluci, snažila jsem se dokončit úkol a mám dotaz, nedokážu si poradit s obrázkem, "schovává" se mi za pozadí a neumím najít, kde je zakopaný pes... Díky! */